<phpunit bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="query">
            <directory suffix='.php'>tests/query</directory>
        </testsuite>
        <testsuite name="connection">
            <directory suffix='.php'>tests/connection</directory>
        </testsuite>
    </testsuites>
</phpunit>
